
<div id="footer">

  <ul class="flatNavi">
    <li><a href="apps.html"><img src="/assets/img/Apps_ASMBR_web.gif" width="100" height="100"></a></li>
    <li><a href="apps.html">Google Apps</a></li>
    <li><a href="price.html">プラン・料金</a></li>
    <li><a href="case.html">活用例</a></li>
        <li><a href="http://connectbass.blogspot.jp/?utm_source=cbwww&utm_medium=link&utm_campaign=header">Blog</a></li>
    <li><a href="about.html">運営会社</a></li>
    <li><a href="contact.html">お問い合わせ</a></li>
  </ul>

</div>


<div class="text-center" style="padding: 20px;padding-bottom: 5px;">
  <ul class="flatNavi">
    <li><a href="https://www.connectbass.com/tos.html" target="_blank">利用規約</a></li>
    <li><a href="https://www.connectbass.com/privacy.html" target="_blank">プライバシー</a></li>
    <li><a href="tokusholaw.html">特定商取引法に基づく表示</a></li>
  </ul>
</div>


      <footer>
        <div class="container">
          <div class="row">
            <div class="text-center">

              <p>Copyright &copy; <a href="http://www.d-worx.co.jp/">d-worx Inc.</a> All rights reserved.</p>

            </div>
          </div>
        </div>
      </footer>
    



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>

    <script src="/assets/js/gpsin-min.js"></script>
	<script src="/assets/js/holder.js"></script>
  </body>
</html>
