.navbar {
  min-height: 70px;
  margin-bottom: 10px;
  background-image: linear-gradient(#FFFFFF, #FFFFFF 80%, #EEEEEE);
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #178acc;
}

.price th {
	color: #3261AB;
	font-size: midium;
	text-align: center;
}

.price strong {
	color: #DA5019;
	font-size: small;
}

.price li {
	color: #303030;
	font-size: smaller;
}

.options {
	width: auto;
}

.options th {
	color: #3261AB;
	font-size: medium;
	text-align: center;
}

.media-body p {
	line-height: 180%;
}