.navbar {
  min-height: 70px;
  margin-bottom: 10px;
  background-image: linear-gradient(#FFFFFF, #FFFFFF 80%, #EEEEEE);
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #178acc;
}

